[%autowidth.stretch]
|===
|Name|Type|Optaionl|Description|Constraints

{{#fields}}
|`{{path}}`
|`{{type}}`
|_{{optional}}_
|{{description}}
|{{#constraints}}· {{.}} +
{{/constraints}}
{{/fields}}

|===
